body{
    margin: 0px;
    background-color: blanchedalmond;
}

h1{
    color: white;
    background: #Ab784E;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(1, 1, 67);
}

h2{
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
}

p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 18px;
}

pre{
    font-size: 16px;
}

.container{
    margin-left: 43.5%;
    padding: 5px;
    height: 100px;
    width: 200px;
    box-shadow: 2px 2px 5px 3px rgba(0,0,0, 0.2) inset;
    border-radius: 5px;
    background-color: antiquewhite;
}

.container-1{
    box-shadow:
    2px -2px 5px 3px violet, 
    2px 2px 5px 3px lightskyblue, 
    -2px -2px 5px 3px rgb(223, 96, 138);
    margin-left: 43.5%;
    margin-top: 20px;
    padding: 5px;
    height: 100px;
    width: 200px;
    border-radius: 5px;
    background-color: antiquewhite;
    margin-bottom: 10px;
}

iframe{
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 10px;

}