body{
    padding: 8px;
    border: 4px solid rosybrown;
    border-radius: 5px;
    margin: 5px;
}

h1{
    margin: 10px;
    text-align: center;
}

#box-model{
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(0, 0, 46);
    background: powderblue;
    text-align: center;
}

#padding{
    background: powderblue;
    text-align: center;
    margin-bottom: 1px;
    padding: 10px;
    border: 2px solid rgb(0, 0, 46); 

}

#p-content{
    text-align: center;
    margin-top: 3px;
}

#border{
    background: powderblue;
    text-align: center;
    margin-bottom: 1px;
    padding: 10px;
    border: 2px dotted rgb(0, 0, 46);
    border-radius: 5px; 
}

#b-content{
    text-align: center;
    margin-top: 3px;
}

#b-sample{
    margin-bottom: 2px;
    text-align: center;
    margin-left: -150px;
}

table, tr, th, td{
    text-align: center;
    border: 1px solid rgb(0, 0, 46);
    padding: 2px;
    margin-left: 42.5%;
    margin-top: 5px;
}

th{
    background: rgb(0, 0, 46);
    color: rgb(225, 225, 225);
}

#margin{
    background: powderblue;
    text-align: center;
    margin:1px 10px;
    padding: 10px;
    border: 2px dashed rgb(0, 0, 46);
    border-radius: 3px; 
}

#m-content{
    text-align: center;
    margin-top: 3px;
}

