body{
    margin: 0px;
    background-color: blanchedalmond;
}

h1{
    position: sticky;
    top: 0;
    color: white;
    background: #Ab784E;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(1, 1, 67);
}

h2{
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
}

p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 18px;
}

i{
    text-align: center;
}

pre{
    font-size: 16px;
}

table, tr, th, td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

caption{
    text-align: center;
    caption-side: top;
    font-size: 25px;
}

thead{
    background-color: antiquewhite;
}

.pos{
    font-size: 30px;
}

h3{
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0;
    background-color: #Ab784E;
    color: white;
}

h4{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}

iframe{
  position: relative;
  margin-bottom: 20px;
  left: 33%;
}

a{
    position: relative;
    margin-top: 10px;
    left: 0;
}
